* {
    font-family: "Roboto", serif, sans-serif;
}

body {
    margin: 0;
}

header, 
.navyblue-container, 
footer {
    background-color: #1F2937;
}

header, footer {
    color: #E5E7EB;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: auto;
}

header {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
}

header .link {
    flex: 1;
    justify-content: flex-end;
}

.navyblue-container {
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
}

.navyblue-container .container1,
.navyblue-container .container2 {
    flex: 1;
}

.navyblue-container .container1 .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.navyblue-container .container1 p {
    font-size: 18px;
    color: #E5E7EB;
}

button, .blue-container {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
}

.white-container {
    background-color: white;
    padding: 5%;
}

.white-container .heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-self: center;
}

.white-container .box {
    display: flex;
    flex-wrap: wrap;
}

.grey-container {
    background-color: #E5E7EB;
    padding: 1% 5% 1% 5%;
}

.grey-container blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.grey-container p {
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
    justify-self: end;
}

.blue-container {
    padding: 2%;
    padding: 1% 5% 1% 5%;
}

.blue-container .heading {
    font-weight: 900;
}

button {
    border-radius: 6px;
    border-color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}