* {
    font-family: "Roboto", serif, sans-serif;
}

header, 
.navyblue-container, 
footer {
    background-color: #1F2937;
}

header, .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navyblue-container {
    display: flex;
}

h2.navyblue-container.container1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}