* {
    font-family: "Roboto", serif, sans-serif;
}

header, 
.navyblue-container, 
footer {
    background-color: #1F2937;
}

header, 
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navyblue-container {
    display: flex;
}

.navyblue-container .container1 .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p.navyblue-container.container1 {
    font-size: 18px;
    color: #E5E7EB;
}

button, .blue-container {
    background-color: #3882F6;
}

.heading.white-container {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}